<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Movies</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="UTF-8" />
        <meta name="description" content="REST API" />
        <meta name="keywords" content="REST,API" />
        <meta name="author" content="Alexander R." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" sizes="16x16" type="image/x-icon" href="/v1/images/favicon_16x16.ico" >
        <link rel="shortcut icon" sizes="24x24" type="image/x-icon" href="/v1/images/favicon_24x24.ico" >
        <link rel="shortcut icon" sizes="32x32" type="image/x-icon" href="/v1/images/favicon_32x32.ico" >
        <link rel="shortcut icon" sizes="64x64" type="image/x-icon" href="/v1/images/favicon_64x64.ico" >
    </head>
<!--  header -->

<body>
	<h1>Movies list</h1>
	<ul>
		<% @movies.each do |movie| %>
			<li>
				<a href="/movies/<%= movie.id %>"><%= movie.title %></a>
			</li>
		<% end %>
	</ul>
	<a href="/movies/new">add new movie</a>
</body>

<!--  footer -->
</html>